
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;700;900&display=swap');


body {
    font-family: 'Chivo', sans-serif;
}

.pin-navbar {
    width: 50px;
    height: 50px;
    background-image: url("../img/pin-atas.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    top: 30px;
    right: 0;
    text-align: center;
    opacity: 0.1;
    transition: 1s;
}
.pin-navbar.reverse {
    background-image: url("../img/pin-bawah.svg");
    position: fixed;
    z-index: 999;
    opacity: 0.1;
    transition: 1s;

}

.pin-navbar.reverse:hover, .pin-navbar:hover {
    opacity: 1;
}

.navbar-brand.logo {
    color: #23ACFF;
    font-weight: 300;
}

ul.navbar-nav li.nav-item.active > a.nav-link {
    color: #23ACFF;
}

ul.navbar-nav li.nav-item {
    color: #23ACFF;
}

ul.navbar-nav li.nav-item > a.nav-link {
    color: #84BCDE;
}

.primary-color {
    color: #000000;
}

.secondary-color {
    color: #23ACFF;
}

.p-color {
    color: #474747;
    font-weight: 100;
    font-size: 1.5rem;
}

a.btn-github {
    background-color: black;
    width: 200px;
}
a.btn-linkedin {
    background-color: #0A66C2;
    color: white;
    width: 200px;
}

a.btn-linkedin:hover {
    background-color: #2a75c0;
    color: white;
}


.shadow-navbar {
    box-shadow: 0 0 10px 4px #EDEDED;
    border-radius: 10px;
}
.shadow-project {
    box-shadow: 0 2px 5px #23ACFF;
    border-radius: 25px;


}
@media (max-width: 576px) {
    .shadow-project {
     margin: 0px 20px;
    
    }
    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
    }
    .size-medium {
        margin-bottom: 2rem;
    }
    a.btn-linkedin {
        width: 100%;
    }
    a.btn-md, a.btn-github {
    
        margin-bottom: 10px;
        width: 100%
    }

    
}
h1.size-100 {
    font-size: 7rem;
    margin: 0;

}

.bg-bluelight {
    background-color: #D7F5FF;
}



.bg-gray {
    background-color: #88E1FF;
}
